<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lemon.api.runner.dao.ProjectMapper">
    <insert id="add" parameterType="project" useGeneratedKeys="true" keyProperty="id">
    	insert into project(name,host,description,create_user,create_time) 
    	values(#{name},#{host},#{description},#{createUser},#{createTime});
    </insert>
    <select id="findAll" resultType="project">
    	select id,name,host,description,create_user as createUser,create_time as createTime from project;
    </select>
</mapper>